.button {
  background-color: #7e0707;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.button:hover {
  background-color: #660505;
}

.button:focus {
  outline: none;
}
