.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  margin-bottom: 50px;
}

.section--reversed {
  flex-direction: column-reverse;
}

.section_textContent {
  max-width: 300px;
  position: relative;
  margin: 0 auto;
}

.section_topic {
  color: #547474;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.section_title {
  color: var(--title-green);
  margin: 35px 0;
  line-height: 1.2;
  font-size: 35px;
  font-weight: bold;
}

.section_text {
  color: var(--title-green);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.section__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section_image {
  height: 300px;
  width: auto;
}

@media (min-width: 401px) {
  .section_image {
    height: 500px;
    width: auto;
  }
  .section_textContent {
    max-width: 415px;
    position: relative;
    margin: 0 auto;
  }
}

@media (min-width: 941px) {
  .section {
    flex-direction: row;
    gap: 80px;
  }

  .section--reversed {
    flex-direction: row-reverse;
  }

  .section_textContent::before {
    content: attr(data-section);
    position: absolute;
    font-size: 400px;
    z-index: -3;
    font-weight: bold;
    top: -40px;
    left: -140px;
    color: rgba(232, 239, 233, 255);
  }

  .section_textContent--reversed::before {
    left: 20px;
  }
}
