.quiz__container {
  padding: 30px;
  padding-top: 0;
}

.quiz__header {
  margin-bottom: 30px;
}

.quiz__question {
  min-height: 400px;
  width: 100%;
}

.quiz__label {
  text-transform: uppercase;
  color: var(--title-green);
  font-size: 20px;
}

.quiz__question_title {
  font-size: 30px;
  margin-top: 20px;
  color: var(--title-green);
}

.quiz__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

.quiz__item {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(11, 59, 60, 1);
  cursor: pointer;
  opacity: 1;
  will-change: opacity;
  min-height: 50px;
  border-radius: 4px;
  min-width: 100px;
  background-color: rgba(164, 182, 158, 0.3);
  box-shadow: rgba(11, 59, 60, 0.2) 0px 0px 0px 2px inset;
}

.quiz__item:hover {
  background-color: rgba(164, 182, 158, 0.3);
  box-shadow: rgba(11, 59, 60, 0.6) 0px 0px 0px 2px inset;
}

.quiz__selected {
  background-color: rgba(164, 182, 158, 0.1);
  box-shadow: rgba(11, 59, 60, 1) 0px 0px 0px 2px inset;
}

.quiz__label img {
  width: 154px;
  height: 154px;
}

.quiz__options {
  font-size: 12px;
}

.quiz__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  width: 100%;
}

.image__results {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 5px;
}

.imageText {
  font-size: 14px;
  color: rgb(11, 59, 60);
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Media Queries */
@media (min-width: 600px) {
  .quiz__container {
    padding: 50px;
  }

  .quiz__question_title {
    font-size: 36px;
  }

  .quiz__options {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .quiz__container {
    height: 520px;
    color: var(--title-green);
  }

  .quiz__question_title {
    font-size: 42px;
  }

  .quiz__options {
    margin-top: 80px;
    gap: 20px;
  }

  .quiz__item {
    flex: 1 1 calc(33.333% - 20px);
  }

  .quiz__result_message {
    font-size: 42px;
  }
}

@media (min-width: 868px) {
  .quiz__container {
    height: 750px;
  }
}

.nav__button {
  color: rgba(11, 59, 60, 1);
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  will-change: opacity;
  min-height: 50px;
  height: 100%;
  border-radius: 4px;
  min-width: 100px;
  background-color: rgba(164, 182, 158, 0.3);
  margin: 0 10px;
}

.nav__button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .quiz__container {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .quiz__question_container {
    max-width: 800px;
    margin: 0 auto;
  }
  .quiz__options {
    justify-content: space-around;
  }
  .quiz__result {
    max-width: 800px;
    margin: 0 auto;
  }
}
