.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal {
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close__button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--main-green);
  margin-right: 40px;
}
